.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* Style the side navigation */
.sidenav {
  position: fixed;
  overflow-x: show;
  overflow-y: scroll;
  top: 5px; /*100px to give some room for the sidebar heading (without this, absolute position will make the nav overlap)*/
  left: 5px; /* you can make this zero and add `padding-left: 15px` */
  bottom: 15px; /* leave some room for copyright section */
  right: 75%; /*this may vary from browser to browser (i suggest using the width of the widest scrollbar, then adjust for padding-right)*/
}

.sidenav .container{
    max-width: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: 75%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}


/* Side navigation links */
.sidenav a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  align: left;
  text-align: left;
}

/* Change color on hover */
.sidenav a:hover {
  color: black;
}

/* Style the content */
.content {
  margin-left: 25%;
  margin-right: 0%;
}

/* Style the profile picture */ 
.avatar-small {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 2px #00ff15;
  border-width: 2px;
}

/* Style the profile picture */ 
.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.above-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-right: 10px;
   padding-bottom: 10px;
   background-color: transparent;
   color: black;
   text-align: right;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   padding-right: 10px;
   padding-bottom: 10px;
   background-color: transparent;
   color: black;
   text-align: right;
}

.column2 {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

  .accordion {
  background-color: #f5fff5;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #f5fff5; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #f5fff5;
  overflow: show;
}

  .accordion:after {
  content: '▼';
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "▲";
}

.responsive {
  width: 100%;
  height: auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.sticky {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: black;
   text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 20px solid #00ff15;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #00ff15;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  
  border-left: 20px solid #00ff15;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid #00ff15; 
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
